<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration scan="true">
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
  		<resetJUL>true</resetJUL> 
  	</contextListener>
	<appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern> 
		</encoder>
  	</appender>
	<appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="FILE">
		<file>/home/lyu/etc/application.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      		<fileNamePattern>/home/lyu/etc/application.%i.log</fileNamePattern>
			<!--minIndex>1</minIndex>
			<maxIndex>3</maxIndex-->
    	</rollingPolicy>
    	<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      		<maxFileSize>50MB</maxFileSize>
    	</triggeringPolicy>
		<encoder>
  			<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern> 
  		</encoder>
	</appender>
    <appender class="net.logstash.logback.appender.LogstashTcpSocketAppender" name="stash">
         <remoteHost>10.1.50.168</remoteHost>
         <port>4560</port>
         <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
     </appender>
     <root level="ERROR">
      <appender-ref ref="stash"/>
     </root>
	<!-- <appender name="PERF_APPENDER" class="ch.qos.logback.core.FileAppender">
  		<file>D:\\Development\\Payments_Logs\\performance.log</file> 
		<append>true</append> 
		<encoder>
  			<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern> 
  		</encoder>
  	</appender> -->
	<!--  ~~~ PERFORMANCE TRACKING LOGGER CONFIGURATION (USING PERF4J) || START ||~~~ 
  --> 
	<!-- <appender name="PERF_TIME_TRACKER_APPENDER" class="ch.qos.logback.core.FileAppender">
  		<file>D:\\Development\\Payments_Logs\\performance-timing.log</file> 
		<append>true</append> 
		<encoder>
  			<pattern>%msg%n</pattern> 
  		</encoder>
  	</appender> -->
	<!-- 
 <appender name="graphExecutionTPS"
              class="org.perf4j.log4j.GraphingStatisticsAppender">
        <param name="GraphType" value="TPS"/>
        <param name="TagNamesToGraph" value="firstBlock,secondBlock"/>
        <appender-ref ref="graphsFileAppender"/>
    </appender> 

  --> 
 <!-- 
 <appender name="graphsFileAppender" class="org.apache.log4j.FileAppender">
        <param name="File" value="D:/Payments_Logs/perfGraphs.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n"/>
        </layout>
            </appender> 

  --> 
 <!-- 
 <appender name="CoalescingStatistics" class="org.perf4j.logback.AsyncCoalescingStatisticsAppender">
		<param name="TimeSlice" value="5000" />
		<appender-ref ref="PERF_TIME_TRACKER_APPENDER" />
		<appender-ref ref="graphExecutionTPS"/>
	</appender> 

  --> 
 <!-- 
 <logger name="com.nucleus.performance" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="CoalescingStatistics"/>
    </logger> 

  --> 
 <!-- 
 <logger name="org.perf4j.TimingLogger" additivity="false">
        <level value="INFO"/>
       <appender-ref ref="CoalescingStatistics"/>
       <appender-ref ref="PERF_TIME_TRACKER_APPENDER"/> 
    </logger> 

  --> 
<!--  ~~~ PERFORMANCE TRACKING LOGGER CONFIGURATION (USING PERF4J) || END ||~~~ 
  --> 
	<logger name="org.larinia">
  		<level value="ERROR"/> 
  		<!-- <appender-ref ref="STDOUT" />  --> 
  		<appender-ref ref="FILE"/> 
  	</logger>
  	<logger level="DEBUG" name="org.hibernate.transaction.JDBCTransaction"/> 
  	<logger level="DEBUG" name="org.hibernate.jdbc.ConnectionManager"/> 
  	<logger level="DEBUG" name="org.springframework.orm.jpa.JpaTransactionManager"/> 
 	<!--root level="DEBUG">
		<appender-ref ref="FILE" />
		 <appender-ref ref="STDOUT" />
	</root-->

</configuration>
