<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!--distributable/-->
    <listener>
        <listener-class>com.redhat.client.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>MyFirstServlet</servlet-name>
        <servlet-class>org.larinia.servlet.MyFirstServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MybatisTest</servlet-name>
        <servlet-class>org.larinia.servlet.MybatisTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyProperties</servlet-name>
        <servlet-class>org.larinia.properties.MyProperties</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>MyFirstServlet</servlet-name>
        <url-pattern>/MyFirstServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MybatisTest</servlet-name>
        <url-pattern>/MybatisTest</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MyProperties</servlet-name>
        <url-pattern>/MyProperties</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <!--filter>
        <filter-name>ExpiresFilter</filter-name>
        <filter-class>org.apache.catalina.filters.ExpiresFilter</filter-class>
        <init-param>
            <param-name>ExpiresByType image</param-name>
            <param-value>access plus 40 minutes</param-value>
        </init-param>
        <init-param>
            <param-name>ExpiresByType text/css</param-name>
            <param-value>access plus 10 minutes</param-value>
        </init-param>
        <init-param>
            <param-name>ExpiresByType application/javascript</param-name>
            <param-value>access plus 10 minutes</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>ExpiresFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping-->
</web-app>
